
* {
  margin: 0;
  padding: 0;
}

/******************** MANDATORY PROPERTIES *************************/

html,
body {
  height: 100%;
  overflow: hidden;
}

.fixed {
  width: 100%;
  height: 100%;
  padding-right: 15px;
  overflow: hidden;
  position: absolute;
  z-index: 9;
  transition: all 0.7s;
}

.scrollable {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
   -webkit-overflow-scrolling: touch;
  transition: all 0.7s;
}

.content-wrap {
  width: 100%;
  min-height: calc(100vh + 20px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  width: calc(100vw - 48px);
  max-width: 980px;
  padding: 64px 0;
}

.div-position {
  transform: translate3d(0, 100vh, 0);
}

.body-wrap {
  overflow: hidden;
}

.active {
  z-index: 10 !important;
  transform: translate3d(0, 0, 0);
}

.position-after{
  transform: translate3d(0, -100vh, 0);
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .content{
    width: 80vw;
    max-width: 100%;
    position: relative;
  }
}

/******************** PAGES SPECIFIC PROPERTIES ********************/

/* font scale --> modular scale --> {base: 10px -- ratio: 1.125 (major second)} */

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  color: #fff;
}

p{
  font-family: 'PT Serif', serif;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.5px;
  color: #fff;
}

.p-secondary,
.h1-secondary {
  color: #000;
}

a {
  color: #30424e;
}

img,
h1,
p {
  margin-bottom: 48px;
}

.logo-img {
  position: fixed;
  top: 16px;
  left: 16px;
  display: block;
  z-index: 99;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pg1 {
  background: #e8c8c8;
}

.pg2 {
  background: #47afa5;
}

.pg3 {
  background: #a09ec1;
}

.pg4 {
  background: #b1ad8d;
}

.dsp-flx {
  display: flex;
  flex-direction: column;
}

img{
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.content-img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

footer{
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  position: absolute;
  bottom: 16px;
  right: 64px;
}
/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  img{
    height: 64px;
    width: 64px;
  }
  h1{
    font-size: 28px;
  }
  p{
    font-size: 16px;
  }
  .content-img {
    height: 350px;
  }
  footer{
    right: 0;
  }
}

@media only screen and (max-width: 600px) {
  img{
    height: 50px;
    width: 50px;
  }
  h1{
    font-size: 25px;
  }
  p{
    font-size: 14px;
  }
  .content-img {
    height: 250px;
    object-fit: cover;
  }
  img,
  h1,
  p {
    margin-bottom: 24px;
  }
  .content{
    width: 75vw;
  }
}
